#list each shelter name, location, description with link to show page with names being links to needed items list for that shelter

<h1>Animal Shelters, Rescues, and Sanctuaries</h1>

<%@shelters.each do |shelter|%>
<%=link_to shelter.name, shelter_path(shelter)%>
<%=shelter.location%>
<%=shelter.description%>


