<div class="page">
    <h2>Animal Shelters, Rescues, and Sanctuaries</h2>

        <ul>
        <%@shelters.each do |shelter|%>
        <li>
        <h4><%=link_to shelter.name, shelter_path(shelter)%></h4>
        <%=shelter.location%>
        <br>
        <%=shelter.description%>
        <br>
        <strong><%=link_to "Make Donation", new_shelter_donation_path(shelter)%></strong>
        </li>
        <%end%>
        </ul>
    </div>
</div>



