<%# #name, location, description and list of items and quantities needed with link to make a donation at the bottom %>
<h2><%=@shelter.name%></h2>
<%=@shelter.location%>

<h3>Items Needed:</h3>
<ul>
<%@shelter.items.each do |item|%>
    <li><%=item.name%></li>
<%end%>


<%# <%=link_to "Make a Donation", new_user_donation_path(current_user)%> %>
