<%# #name, location, description and list of items and quantities needed with link to make a donation at the bottom %>
<h2><%=@shelter.name%></h2>
<%=@shelter.location%>

<h3>Items Needed:</h3>
<%@shelter.needed_items.each do |needed_item|%>
<%binding.pry%>
    <%=needed_item.item.name%>
<%end%>


<%# <%=link_to "Make a Donation", new_donation_path%>
