<h2>Hello, <%=@user.username%></h2>

<%=link_to "View your past donations", user_donations_path(@user)%><br>
<br>
<%=link_to "Browse Shelters", shelters_path%><br>
<br>
<%=link_to "Make a Donation", new_user_donation_path(@user)%><br>
