<h2><%=@user.username.capitalize%>'s Past Donations</h2>

<%@donations.each do |donation|%>
Date of Donation: <%=donation.created_at.strftime("%^b %d %Y")%><br>
Item: <%=donation.item.name%><br>
Qty: <%=donation.quantity%><br>
<%end%>
