<div class="container">
        <div class="animal-icons">
            <img src="/../../assets/pet-vector-free-icon-set-21.png" alt="dog-illustration">
            <img src="/../../assets/icons8-heart-150.png" alt="heart">
            <img src="/../../assets/pet-vector-free-icon-set-40.png" alt="cat-illustration">
        </div>
        <div class="welcome-text">
            <h1>Welcome to Dear Creatures</h1>
            <h3>Give to animals in need</h3>
        </div>
        <div class="auth-btns">
            <%=link_to "Sign Up", signup_path, class: "button"%>
            <%=link_to "Log In", login_path, class: "button"%>
            <%=link_to "Log In with Google", '/auth/google_oauth2', class: "button"%>
        </div>
</div>
