/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  color: black;
  font-size: 16px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
}
 


 /*
   ========================================
   Typography
   ========================================
 */
 
 h1, h2, h3, h4 {
   color: #648880;
 }
 h1, h3, h4, h5, p {
   margin-bottom: 22px;
 }
 h1 {
   font-size: 36px;
   line-height: 44px;
 }
 h2 {
   font-size: 24px;
   line-height: 44px;
 }
 h3 {
   font-size: 21px;
 }

 
 
 /*
   ========================================
   Links
   ========================================
 */
 
 a {
   color: #648880;
   text-decoration: none;
 }
 a:hover {
   color: #a9b2b9;
 }
 p a {
   border-bottom: 1px solid #dfe2e5;
 }
 
 
 /*
   ========================================
   Primary header
   ========================================
 */
 
 .logo {
   border-top: 4px solid #648880;
   float: left;
   font-size: 48px;
   font-weight: normal;
   letter-spacing: .5px;
   line-height: 44px;
   padding: 40px 0 22px 0;
   text-transform: uppercase;
 }
 .tagline {
   margin: 66px 0 22px 0;
   text-align: right;
   font-weight: normal;
   color: #fff;
 }
 .primary-nav {
   font-size: 14px;
   font-weight: bold;
   letter-spacing: .5px;
   text-transform: uppercase;
 }
 
 /*
   ========================================
   Navigation
   ========================================
 */
 
 .nav {
   text-align: right;
 }
 .nav li {
   display: inline-block;
   margin: 0 10px;
   vertical-align: top;
 }
 .nav li:last-child {
   margin-right: 0;
 }